pre-commit
trimesh
torch>=2
torchvision
einops
huggingface_hub
imageio
numpy<2
opencv-python
# xformers  # Not compatible with macOS - see https://github.com/ByteDance-Seed/Depth-Anything-3/issues/11
open3d
fastapi
unicorn
requests
typer
pillow
omegaconf
evo
e3nn
moviepy
plyfile
pillow_heif
safetensors
psutil
pyyaml
tqdm
matplotlib
